<section class="problem" id="pain-points">
  <div class="problem__inner container">
    <h2 class="problem__heading">Sound familiar?</h2>
    <div class="problem__cards">
      <div class="problem__card">
        <p class="problem__card-text">You're copying data between tools manually every day</p>
      </div>
      <div class="problem__card">
        <p class="problem__card-text">Your team wastes hours on reports that could run themselves</p>
      </div>
      <div class="problem__card">
        <p class="problem__card-text">You're paying for software that doesn't talk to each other</p>
      </div>
    </div>
  </div>
</section>
